// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$grid-float-breakpoint: 2400px;

// Colors
$brand-primary:         #4bb1b7;
$brand-color1:          #000000;
$brand-color2:          #ffffff;
$brand-color3:          #d0d0d0;
$brand-color4:          #c8c8c8;
$brand-color5:          #2b2b2b;

// Fonts
$font-stack:            'Roboto', sans-serif;
$font-thin:             100;
$font-light:            300;
$font-regular:          400;
$font-bold:             700;

// Sizing
$font-smaller:          16px;
$font-normal:           18px;
$font-bigger:           36px;
$font-biggest:          60px;

// Spacing
$spacing-lg:            120px;
$spacing-md:            $spacing-lg / 2;
$spacing-sm:            $spacing-md / 2;

// Icons
$icon-size:             75px;
