footer {
    background-color: $brand-color5;
    color: $brand-color2;
    padding: $spacing-sm 0;
    font-size: $font-normal - 4;
    hr {
        border-color: $brand-color4;
    }
    .row {
        margin-top: $spacing-lg;
    }
    .row:last-of-type {
        margin-bottom: $spacing-lg;
    }
}
